<header>

  <div class="header-image-container">
  	<img src="./images/ahnald.jpg" alt="Grand AhdmiralT101" class="header-image">
  </div>

  <h1 class="site-title"><a href="/">Ahnald's Ranking Table</a></h1>

</header>